body {
 beckground-color: rgb(247, 7, 7);
 color: rgb(0, 0, 0);
 font-family: "Trebuchet MS", "Comic Sans MS";
 margin: 0;
}

header {
 font-size: 60px;
 border-bottom: double 5px rgb(146, 28, 28);
padding: 6px;
text-align: center;
}

h1{
    font-size: 30px;
}

p {
    font-size: 20px;
}