body {
 beckground-color: rgb(90, 0, 192);
 color: rgb(163, 68, 241);
 font-family: "Trebuchet MS", "Comic Sans MS";
 margin: 0;
}

header {
 font-size: 60px;
 border-bottom: double 5px rgb(231, 180, 255);
padding: 6px;
text-align: center;
}

h1{
    font-size: 30px;
}

p {
    font-size: 20px;
}